.container .new-tweet {
  padding-top: 10px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px 20px 20px 20px;
  border: solid black 1px;
  border-radius: 5px;
  background-color: #eee;
}

.new-tweet h2 {
  margin: 0;
  text-align: left;
  border-bottom: solid black 1px;
}

.new-tweet textarea {
  resize: vertical;
  padding: 4px;
  margin-top: 20px;
  width: 100%;
}

.new-tweet input {
  border-radius: 3px;
  margin-top: 3px;
  float: left;
}

.new-tweet .counter {
 padding-top: 6px;
 float: right;
 font-size: 85%;
 font-style: italic;
}

.new-tweet .error {
  font-size: 95%;
  margin: 0;
  padding: 0;
  color: red;
}
