.tweet {
  margin: 20px 20px;
  border: solid black 1px;
  border-radius: 5px;
  opacity: 0.75;
}

.tweet:hover {
  opacity: 1;
}

.tweet p {
  padding: 10px;
  word-wrap: break-word;
  white-space: initial;
}

.tweet header {
  height: 60px;
  background-color: #eee;
  left: 0;
  right: 0;
  border-radius: 5px 5px 0 0;
  border-bottom: solid black 1px;
}

.tweet header h2 {
  padding: 5px;
  margin: 0;
  text-align: left;
}

.tweet header span {
  font-size: 90%;
  padding: 5px 5px;
  float: right;
  margin: 0;
}

.tweet footer {
  padding: 5px;
  border-top: solid black 1px;
}

.tweet .icons {
  float: right;
  opacity: 0;
}

.tweet:hover .icons {
  float: right;
  opacity: 1;
}

.tweet .icons svg {
  margin: 2px;
}

.tweet header img {
  border-radius: 5px;
  margin: 5px;
  float: left;
}

.tweet footer p {
  font-size: 90%;
  margin: 0;
  text-align: left;
}

.tweet p.time-stamp {
  padding: 0;
}
